#user_nav
  - if current_user
    %div
      Signed in as #{current_user.name}   #{link_to "Sign out", signout_path}
    %div 
      = render "tweets/send_tweet"
    %div
      - if admin_user?
        %p "true"
      -else
        %p "false"
  - else
    = link_to "Sign in with Twitter", "/auth/twitter"

#content
  .title
    %h1= "Content"
    - @contents.each do |c|
      %p "Name: #{c.name}"
      %p "Message: #{c.post}"
      %hr