#user_nav
  - if current_user
    Signed in as #{current_user.name}#{link_to "Sign out", signout_path}
    %div
      #{current_user.inspect}
    = link_to "Send Tweet", "/auth/twitter"
    %div 
      = form_for :tweet, url: tweets_path, method: :post do |f|
        = f.text_field :message
        = f.submit "Send Tweet"
  - else
    = link_to "Sign in with Twitter", "/auth/twitter"

#content
  .title
    %h1= "Content"
    - @contents.each do |c|
      %p "#{c.name}"
      %p "#{c.post}"