#user_nav
  - if admin_user?
    %div
      Signed in as #{current_user.name}   #{link_to "Sign out", signout_path}
    %div 
      = render "tweets/send_tweet"
  - else
    = link_to "Sign in with Twitter (for testing purposes)", "/auth/twitter"
    %h3 Sign in as admin on the right sidebar to view content

#content
  - if admin_user?
    .title
      %h1= "Content"
      - @contents.each do |c|
        %p Name: #{c.name}
        %p Message: #{c.post}
        %p Post Time: #{c.pretty_date }
        %p
          = link_to "Delete Content", c, method: :delete, data: {confirm: "You sure?"}
        %hr