- if current_user
	= simple_form_for @tweet, url: tweets_path, remote: true, method: :post, html: { class: 'form-horizontal' } do |f|
		= f.input :content_id, as: :hidden, input_html: { value: @content.id }
		= f.input :message, as: :text, input_html: { maxlength: 140 }, label: @content.message_prompt, wrapper_html: { class: 'row center' }
		%p.b MESSAGE TO TWEET:
		#combined_tweet
			= @content.post
		%p
			= f.input :user_id, as: :hidden, input_html: { value: current_user.id }
		%p.b DATE & TIME:
		%p 
			= "#{@content.pretty_date} #{@content.time_zone || 'PST'}"
		= f.button :submit, "Schedule Now!", id: "schedule_tweet_button"
- if current_facebook_user
	= link_to image_tag("twitter_sign_in.png", :border => 0, :alt => 'Sign in to Twitter', :title => ''), "/auth/twitter?origin=#{request.original_url}", :class => 'twitter-sign-in-button'
	= simple_form_for @tweet, url: tweets_path, remote: true, method: :post, html: { class: 'form-horizontal' } do |f|
		= f.input :content_id, as: :hidden, input_html: { value: @content.id }
		= f.input :message, as: :text, input_html: { maxlength: 140 }, label: @content.message_prompt, wrapper_html: { class: 'row center' }
		%p.b MESSAGE TO TWEET:
		#combined_tweet
			= @content.post
		%p
			= f.input :user_id, as: :hidden, input_html: { value: current_facebook_user.id }
		%p.b DATE & TIME:
		%p 
			= "#{@content.pretty_date} #{@content.time_zone || 'PST'}"
		= f.button :submit, "Schedule Now!", id: "schedule_tweet_button"