= simple_form_for :tweet, url: tweets_path, remote: true, method: :post do |f|
  = f.input :message
  = f.input :user_id, as: :hidden, input_html: { value: current_user.id } 
  = f.simple_fields_for :content_attributes do |u|
    = u.input :name, as: :select, collection: Content.all
  = f.submit "Send Tweet"